@model IEnumerable<BlogMVC.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}
 
<p><a asp-action="Create">Add post</a></p>
<table class="table">
     <tr><th>Title</th><th>Text</th><th>Date</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Text</td>
            <td>@item.CreatedDate</td>
            <td>
                <a asp-action="Post" asp-controller="Home" asp-route-id="@item.Id">Post</a>
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>