@model BlogMVC.Models.Post
<div class="containerPost"> 
    <div class="title">
        @if (Model.Photo != null)
        {
        <div class="title-photo" style="background-image: url('data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))');">
            <img class="cover" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))">
        </div>
        }
        <div class="title-info">
            <div class="title-name">@Model.Title</div>
            <div class="title-date">@Model.CreatedDate</div>
        </div>
    </div>
    <div class="post">
        <div class="post-text">
            @Html.Raw(@Markdig.Markdown.ToHtml((@Model.Text)))
        </div>
    </div>
</div>
@code{
    
}

